$violet:                          #6E1E78;
$prune:                           #A1006B;
$framboise:                       #CD0037;
$fushia:                          #FD3F92;
$orange:                          #E05206;
$jauneSafran:                     #FFB612;
$vertAnis:                        #D2E100;
$vertPomme:                       #82BE00;
$vertAbsinthe:                    #7FDD4C;
$vertAmande:                      #82c46c;
$bleuCanard:                      #009AA6;
$bleuPrimaire:                    #0088CE;
$rougeAssistance:                 #D52B1E;
$rougeGroseille:                  #CF0A1D;
$blanc:                           #FFFFFF;
$warmGrey11:                      #675C53;
$warmGrey9:                       #82786F;
$warmGrey7:                       #988F86;
$warmGrey5:                       #AFA59B;
$warmGrey3:                       #C3BEB4;
$warmGrey1:                       #E0DED8;
$coolGrey11:                      #4D4F53;
$coolGrey9:                       #747678;
$coolGrey7:                       #A0A0A0;
$coolGrey5:                       #B9B9B9;
$coolGrey3:                       #D7D7D7;
$coolGrey1:                       #E1E1E1;
$carbone:                         #3C3732;
