$violet: #673ab7;
$prune: #a1006b;
$framboise: #cd0037;
$fushia: #fd3f92;
$orange: #e05206;
$jauneSafran: #ffb612;
$vertAnis: #d2e100;
$vertPomme: #82be00;
$vertAbsinthe: #7fdd4c;
$vertAmande: #82c46c;
$bleuCanard: #009aa6;
$bleuPrimaire: #0088ce;
$rougeAssistance: #d52b1e;
$rougeGroseille: #cf0a1d;
$blanc: #ffffff;
$warmGrey11: #675c53;
$warmGrey9: #82786f;
$warmGrey7: #988f86;
$warmGrey5: #afa59b;
$warmGrey3: #c3beb4;
$warmGrey1: #e0ded8;
$coolGrey11: #4d4f53;
$coolGrey9: #747678;
$coolGrey7: #a0a0a0;
$coolGrey5: #b9b9b9;
$coolGrey3: #d7d7d7;
$coolGrey1: #e1e1e1;
$carbone: #3c3732;
