<!-- Loading -->
<div class="centerBlockLoader" *ngIf="loadingData && !error ">
  <mat-spinner></mat-spinner>
</div>
<!-- Main bar for research, pagination and add a product -->
<mat-card class="optionCard">
  <form [formGroup]="searchForm">
    <mat-form-field>
      <input formControlName="research" matInput placeholder="Looking for a product">
    </mat-form-field>
  </form>
  <pagination-controls (pageChange)="getPage($event, this.searchForm.get('research').value)" id="server"></pagination-controls>
  <button mat-button (click)="openDetailProduct(null)">Add product</button>
</mat-card>
<!-- Error case -->
<div class="centerBlockLoader" *ngIf="productsData === undefined && error && !loadingData">
  <p>An error ouccured</p>
</div>
<!-- Normal case -->
<div *ngIf="productsData !== undefined && !error && !loadingData" class="productContainer">
  <mat-card *ngFor="let product of productsData | paginate: { id: 'server', itemsPerPage: 20, currentPage: page, totalItems: totalProduct }"
    class="productCard">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="product.brand">{{product.brand.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product.image}}" alt="Photo of {{product.name}}">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDetailProduct(product)"><img src="assets/icons/baseline-edit-24px.svg" /></button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- Pagination -->
<mat-card class="paginationCard">
  <pagination-controls (pageChange)="getPage($event, this.searchForm.get('research').value)" id="server"></pagination-controls>
</mat-card>
