.productContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.productCard {
  width: 300px;
  margin: 10px;
  img {
    height: 200px;
  }
}

.paginationCard {
  margin: 10px;
  text-align: center;
}

.optionCard {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  form {
    width: 40%;
    mat-form-field {
      width: 100%;
    }
  }
}
